			/** STYLE **/
			html, body {
				margin: 0;
				padding: 0;
			}
			
			.image {
				width: 100%;
				height: 100vh;
				position: absolute;
				z-index: 4;
				background-color: rgba(91, 168, 204, 0.6);
				background-image: url('../img/geometryc.png');
				background-size: 1920px 100%;
				background-position: 0px 110px;
				background-repeat: no-repeat;
				opacity: 0.8;
			}

			.mask {
				background-color: rgba(91, 168, 204, 0.6);
				position: absolute;
				z-index: 3;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			
			.slider {
				width: 100%;
				height: 100vh;
				position: absolute;
				z-index: 1;
				background-color: rgba(0, 0, 0, 0);
			}

			.slider .slide {
				position: absolute;
				background-size: 1920px 100%;
				z-index: 1;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				display: none;
			}

			.slide-content {
				position: relative;
				width: 100%;
				height: 100%;
				z-index: 999;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.menu {
				flex-basis: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				height: 60px;
				position: absolute;
				z-index: 9;
				top: 0;
				left: 0;
				right: 0;
				z-index: 9999;
				margin-right: 40px;
			}

			a {
				font-family: 'Ubuntu';
				font-size: 22px;
				font-weight: 100;
				margin-left: 20px;
				text-decoration: none;
				cursor: pointer;
				color: #fff;
			}

			a:hover {
				text-decoration: underline;
			}

			.slider .slide.fadeEffect {
				animation-name: fadeEffect;
				animation-duration: .5s;
			}

			@keyframes fadeEffect {
				from { opacity: .4; }
				to { opacity: 1; }
			}

			.button-menu {
				display: none;
			}

			.logo {
				position: absolute;
				top: 10px;
				left: 20px;
				z-index: 999999;
			}

			.logo h1 {
				margin: 0;
				padding: 0;
				font-family: 'Ubuntu';
				font-weight: 100;
				font-size: 24px;
				color: #fff;
			}



			@media screen and (max-width: 840px) {
				.menu {
					flex-basis: 100%;
					display: flex;
					align-items: flex-start;
					flex-direction: column;
					position: absolute;
					left: 0;
					right: 0;
					z-index: 9999;
					margin: 0;
					padding-top: 0px;
					height: 0;
					background-color: #60a5c7;
					transition: .5s;
				}

				.menu a {
					font-size: 18px;
					margin-bottom: 10px;
					text-decoration: none;
					transition: .2s;
				}

				.menu a:hover {
					color: rgba(0, 0, 0, 0.5);
				}

				.item-menu.active {
					color: rgba(0, 0, 0, 0.5);
					text-decoration: none;
				}

				.button-menu {
					display: block;
					position: absolute;
					top: 10px;
					right: 20px;
					z-index: 199900;
					color: #fff;
					font-size: 25px;
				}
			}

			.main-content.contact {
				width:100%;
				padding-left: 70px;
				padding-right: 70px;
			}

			.main-content.contact .left {
				width: 50%;
			}

			.main-content.contact .right {
				width: 50%;
			}

			.item-menu.active {
				text-decoration: underline;
			}

			#map {
				width: 100%;
				height: 750px;
			}
